.DS_Store
.env
.env.*
*.log
*.tsbuildinfo
*.pyc

.claude/
**/node_modules/
**/dist/
**/__pycache__/
**/venv/
**/.venv/

front/vite.config.js
front/vite.config.d.ts

**/.env
server/rag/.env
server/rag/venv/
server/rag/__pycache__/
**/my career data/.DS_Store
